/* General styles */
* {
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    90deg,
    rgb(1, 17, 27) 0%,
    rgba(9, 85, 121, 1) 31%,
    rgba(9, 85, 121, 1) 69%,
    rgb(0, 23, 36) 100%
  );

  min-height: 100vh;
  font-size: 16px;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
}

hr {
  color: black;
  width: 300px;
}

/* Header and navbar */
header {
  background-color: black;
  width: 100%;
  height: 5rem;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 2px 1px 2px 2px black;
}

header img#banner {
  float: left;
  height: 100%;
  margin-left: 0.5%;
  background-size: cover;
}

nav {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  width: 30rem;
}

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 300ms;
}

nav ul li a:hover {
  color: rgb(194, 194, 194);
}

.dropdown {
  position: relative;
}
.dropdown-content {
  background-color: black;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
  text-align: center;
}
.dropdown-content li {
  border-bottom: 1px solid white;
  margin: 1rem auto;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}
section.body {
  width: 60%;
  margin: 10rem 0 10rem;
  padding: 3rem;
  color: black;
  box-shadow: 0px 15px 40px #3f3e3e;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

/* Home page body */
#welcome-and-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#welcome {
  margin: 0 3rem;
  border-bottom: 1px solid black;
}

#welcome p {
  margin: 1rem;
  line-height: 3;
}

#logo {
  width: 15rem;
  -webkit-animation: spin 7s infinite;
  animation: spin 7s infinite;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
#certifications {
  margin: 4.4rem auto 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* Catalog */
#catalog .body {
  width: 80%;
}

.subcategory {
  padding: 1rem 1rem 3rem;
  border-top: 1px solid rgba(128, 128, 128, 0.534);
}

.heading {
  text-align: center;
}

.subheading {
  color: rgb(90, 90, 90);
  font-style: italic;
}

.subcategory .products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products-container .product {
  width: 20%;
  margin: 1rem;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: space-around;
  flex-direction: column;
}

.product .product-image {
  margin: 15px;
}

.product .product-title {
  text-decoration: underline;
  font-weight: bold;
}

.product .product-description {
  font-size: 0.8rem;
  color: rgba(58, 57, 57, 0.76);
}

/* About us page body */
.about h1,
.about + h4 {
  text-align: center;
}
.about h1 {
  margin: 1rem;
}
.about p {
  line-height: 2;
  text-align: justify;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}
.about-imgs {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.about-imgs img {
  margin: 0.1rem 0.3rem;
  border: 1px solid black;
  width: 8rem;
}
.about #about-1 {
  display: flex;
  flex-direction: row;
}
.about #about-1 .about-imgs {
  flex-direction: column;
}
#about-1 .about-imgs img {
  width: 7rem;
}

.about .logo-container {
  display: flex;
  justify-content: center;
}
.about #logo.small {
  width: 10rem;
  margin: 2rem;
}
.about #about-2 {
  display: flex;
  flex-direction: row-reverse;
}
.about + h4 {
  font-style: oblique;
  line-height: 2;
  width: 91%;
  margin: 0 auto;
}

/* Footer */
footer {
  color: grey;
  background-color: black;
  box-shadow: 1px 4px 3px 4px rgb(2, 20, 44);

  width: 100%;
  padding: 0.8rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  z-index: 1;
}
